* {
    margin: 0;

}

.container {
    background-color: rgb(224, 205, 241);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.header-title {
    margin-top: 100px;
    font-weight: 700;
    font-size: 38px;
    color: rgb(140, 31, 173);
}


.header-title-tasks {
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 50px;
    color: rgb(155, 34, 192);
}


/* До формы */


.main {
    background-color: rgba(255, 255, 255, 0.921);
    width: 900px;
}



.main-task{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}


.main-task-title {
    font-size: 26px;
    margin-bottom: 30px;
    padding-left: 10px;
    color: #656565;
    font-style: oblique;
}

.main-task-title--done {
    text-decoration: line-through;
    color: #CDCDCD;
}

.main-btns img {
    pointer-events: none;
}


/* Форма */

.form {
    margin-top: 40px;
    background-color: rgb(242, 245, 255);
    width: 900px;
}


.form-input {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.921);
}

.add-new-task-title {
    padding: 10px 20px;
    font-size: 20px;
    background-color: rgba(190, 111, 210, 0.62);
    color: #5b5b5b;
}

.input-field {
    margin: 20px 20px;
    font-size: 20px;
    height: 50px;
    padding: 0 10px;
    border: 1px solid;
    border-radius: 10px;
    
    
}


.form-btns{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    margin: 0 20px;
    margin-bottom: 20px;
}

.btn-send {
    padding: 10px 20px;
    background-color: rgb(114, 143, 238);
    border-radius: 10px;
    font-size: 18px;
    border-color: rgb(102, 126, 208);
    color: rgb(255, 255, 255);
    font-weight: 400;
}

.btn-send:hover{
    background-color: rgb(90, 116, 201);
    color: aliceblue;
}

.btn-clear {
    padding: 10px 20px;
    background-color: rgb(114, 143, 238);
    border-radius: 10px;
    font-size: 18px;
    border-color: rgb(102, 126, 208);
    color: rgb(255, 255, 255);
    font-weight: 400;
}

.btn-clear:hover {
    background-color: rgba(114, 143, 238, 0.85);
    color: aliceblue;
}